name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
    - name: Build
      run: ./gradlew :fabric-1.21.11:build
    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: vulkanmod-extra-fabric-1.21.11
        path: fabric-1.21.11/build/libs/*.jar